[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-serializer = "*"
flask-sqlalchemy = "*"
importlib-metadata ="*"
importlib-resources = "*"
ipdb = "*"
marshmallow = "*"
pytest = "*"
sqlalchemy-serializer = "*"

[requires]
python_full_version = "3.11"
